@font-face{font-family:'Minion Pro';font-weight:400;src:url("Minion Pro Regular.woff2"););}
@font-face{font-family:'Minion Pro';font-weight:400;font-style:italic;src:url("Minion Pro Regular Italic.woff2"););}
@font-face{font-family:'Minion Pro';font-weight:700;src:url("Minion Pro Semibold.woff2"););}
@font-face{font-family:'Minion Pro';font-weight:700;font-style:italic;src:url("Minion Pro Semibold Italic.woff2"););}