body {
	background: #fff;
    margin:10% 15%;
    font-family: "Helvetica Neue", Arial, sans-serif;
	font-size:15px;
}

#container {
    margin:0 auto;
    max-width:700px;
    width:100%;
    min-height:calc(100vh - 140px - 20%);
    outline:0px;
}

h1 {font-weight:500;}



@media print {
	body, #edit {margin:0;}
	
    @page {
        /*3 and 3.5 cm on A4*/
        margin:14% 17%;
        padding:0;
        
        orphans: 2;
        widows: 2;
    }

	body {
		font-size:11pt;
	}
}